<main>
<header>
    <a routerLink="/home">
        <img src="../../../assets/Logo/v6Black.png" class="logo" />
    </a>
</header>
<div class="content">
    <div class="pokeSprite box">
      <div class="top">{{pokemon.name | titlecase}}</div>
      <div class="middle">
        <img src="{{ spriteUrl }}{{ pokemon.id }}.png">
      </div>
      <div class="bottom">{{ getTypeNames(pokemon.types) | titlecase }}</div>
    </div>
    <div class="hpChart box">
      <div class="top"><h3>Pontos de vida (HP)</h3></div>
      <div class="middle">
        <h1>{{hp}}</h1>
        <svg viewBox="0 0 232 232" style="--percentage: {{hp}}">
          <circle cx="50%" cy="50%" r="98.8" opacity="0.3" stroke="#fbbf40" />
          <circle
            cx="50%"
            cy="50%"
            r="98.8"
            stroke="url(#paint0_linear_201_85)"
          />

          <defs>
            <linearGradient
              id="paint0_linear_201_85"
              x1="-9"
              y1="82"
              x2="145"
              y2="178"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#0f0f13" />
              <stop offset="1" stop-color="#464653" />
            </linearGradient>
          </defs>
        </svg>
      </div>
      <div class="bottom">
        <div class="item">
          <span>Max HP</span>
          <span>255</span>
        </div>
        <div class="item">
          <span
            style="
              --bg-color: linear-gradient(
                240deg,
                #464653 15.98%,
                #0f0f13 82.85%
              );
            "
            >HP</span
          >
          <span>{{hp}}</span>
        </div>
      </div>
    </div>
    <div class="velChart box">
      <div class="top"><h3>Velocidade</h3></div>
      <div class="middle">
        <h1>{{vel}}</h1>
        <svg viewBox="0 0 232 232" style="--percentage: {{vel}}">
          <circle cx="50%" cy="50%" r="98.8" opacity="0.2" stroke="#fbbf40" />
          <circle
            cx="50%"
            cy="50%"
            r="98.8"
            stroke="url(#paint2_linear_201_85)"
          />

          <defs>
            <linearGradient
              id="paint2_linear_201_85"
              x1="-9"
              y1="82"
              x2="145"
              y2="178"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#1b28e5" />
              <stop offset="1" stop-color="#6d83fc" />
            </linearGradient>
          </defs>
        </svg>
      </div>
      <div class="bottom">
        <div class="item">
          <span>Max Vel</span>
          <span>180</span>
        </div>
        <div class="item">
          <span
            style="
              --bg-color: linear-gradient(
                240deg,
                #6d83fc 15.98%,
                #1b28e5 82.85%
              );
            "
            >Vel</span
          >
          <span>{{vel}}</span>
        </div>
      </div>
    </div>
    <div class="pokeStats box">
      <div class="top"><h2>Estatisticas</h2></div>
      <section>
        <div class="lines">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>

        <div class="compare">
          <span>0pt</span>
          <span>25pt</span>
          <span>50pt</span>
          <span>75pt</span>
          <span>100pt</span>
          <span>125pt</span>
          <span>150pt</span>
          <span>175pt</span>
          <span>200pt</span>
          <span>225pt</span>
          <span>250pt</span>
        </div>

        <div class="graph">
          <div class="bars">
            <div class="graph-bar">
              <div class="bar" style="--height: {{atk}}"></div>
              <span>Ataque ({{atk}}pt)</span>
            </div>
            <div class="graph-bar">
              <div class="bar" style="--height: {{def}}"></div>
              <span>Defesa ({{def}}pt)</span>
            </div>
            <div class="graph-bar">
              <div class="bar" style="--height: {{sAtk}}"></div>
              <span>Atq Especial ({{sAtk}}pt)</span>
            </div>
            <div class="graph-bar">
              <div class="bar" style="--height: {{sDef}}"></div>
              <span>Def Especial ({{sDef}}pt)</span>
            </div>
          </div>
        </div>
      </section>
    </div>
</div>
</main>