<main>
    <header #home>
        <a href="#">
            <img class="logo" src="../../../assets/Logo/v6.png" alt="">
        </a>
        <div class="btns">
            <button (click)=scrollToElement(home)>Home</button>
            <button (click)="scrollToElement(desc)">Explorar</button>
        </div>
    </header>
    
    <section>
        <div id="text">Explore a Pokédex e conheça todos os detalhes do seu Pokémon preferido</div>
        <img src="../../../assets/Home/Nuvens.png" class="nuvem1" #nuvem1>
        <img src="../../../assets/Home/Nuvens.png" class="nuvem2" #nuvem2>
        <img src="../../../assets/Home/Sol.png" class="sol" #sol>
        <img src="../../../assets/Home/Pidgeotto.png" class="pidgeotto" #pidgeotto>
        
        <img src="../../../assets/Home/MontanhasFrente.png" class="montanhasFrente">
        
        <img src="../../../assets/Home/MoinhoHelice.png" class="moinhoHelice" #moinhoHelice>
        <img src="../../../assets/Home/CamposFundo.png" class="camposFundo" #camposFundo>
        <img src="../../../assets/Home/CamposFrente.png" class="camposFrente" #camposFrente>
        
        <img src="../../../assets/Home/MontanhaFundoCamada1.png" class="montanhaFundoC1" #montanhaFundoC1>
        <img src="../../../assets/Home/MontanhaFundoCamada2.png" class="montanhaFundoC2" #montanhaFundoC2>
        <img src="../../../assets/Home/MontanhaFundoCamada3.png" class="montanhaFundoC3" #montanhaFundoC3>

        <img src="../../../assets/Home/Ceu.png">

        <button id="btn" (click)="scrollToElement(desc)">Comece a explorar</button>
        
    </section>
    <div class="desc" #desc>
        <h2>Gerações</h2>
        <div class="cards">
            <button class="card" (click)="buscarPokemonPorGeracao(1)">
                <h3 class="geracao">Geracao 1</h3>
            </button>
            <button class="card" (click)="buscarPokemonPorGeracao(2)">
                <h3 class="geracao">Geracao 2</h3>
            </button>
            <button class="card" (click)="buscarPokemonPorGeracao(3)">
                <h3 class="geracao">Geracao 3</h3>
            </button>
            <button class="card" (click)="buscarPokemonPorGeracao(4)">
                <h3 class="geracao">Geracao 4</h3>
            </button>
            <button class="card" (click)="buscarPokemonPorGeracao(5)">
                <h3 class="geracao">Geracao 5</h3>
            </button>
            <button class="card" (click)="buscarPokemonPorGeracao(6)">
                <h3 class="geracao">Geracao 6</h3>
            </button>
            <button class="card" (click)="buscarPokemonPorGeracao(7)">
                <h3 class="geracao">Geracao 7</h3>
            </button>
            <button class="card" (click)="buscarPokemonPorGeracao(8)">
                <h3 class="geracao">Geracao 8</h3>
            </button>
            <button class="card" (click)="buscarPokemonPorGeracao(9)">
                <h3 class="geracao">Geracao 9</h3>
            </button>
        </div>
    </div>
    <div class="pokemons">
        <div class="pokemon" *ngFor="let pokemon of pokemons">
            <a class="pokeCard"[routerLink] ="['/pokemon', pokemon.id]">
                <div class="top">
                    {{ pokemon.name | titlecase }}
                </div>
                <div class="middle">
                    <img [src]="pokemon.sprites.front_default">
                </div>
                <div class="bottom">
                    {{ getTypeNames(pokemon.types) | titlecase }}
                </div>
            </a>
        </div>
        
    </div>    
</main>