  main {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #3279ca;
  }
  
  header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  header .logo{
    height: 6rem;
  }
  
  header .btns{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header .btns button{
    font-family: 'Poppins';
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.6rem 1.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
  }

  header .btns button:hover{
    background-color: #fff;
    color: #2f9bf3;
  }
  
  section{
    position: relative;
    width: 100%;
    height: 150vh;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to top, #000000a8, transparent);
    z-index: 1000;
  }
  
  section img
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  
  section .nuvem2{
    transform: translateX(-125rem);
  }

  section .pidgeotto{
  z-index: 11;
  transform: translateX(50rem);
  }
  
  section .nuvem1, .nuvem2{
    z-index: 10;
  }
  
  section .sol{
    z-index: 9;
  }
  
  section .montanhasFrente{
  z-index: 8;
  }
  
  section .camposFrente{
    z-index: 7;
  }
  
  section .moinhoHelice {
    margin: 54% 0 0 64.2%;
    height: 7%;
    width: auto;
    animation: catavento 6s infinite linear;
    transform-origin: center;

    z-index: 6;
  }
  
  @keyframes catavento {
    0% {
  
      transform: rotate(0deg);
    }
    100% {
  
      transform: rotate(360deg);
    }
  }

  section .camposFundo{
    z-index: 5;
  }

  section .montanhaFundoC1{
    z-index: 4;
  }

  section .montanhaFundoC2{
    z-index: 3;
  }

  section .montanhaFundoC3{
    z-index: 2;
  }
  
  #text{
    padding: 0 35% 0 35%;
    position: absolute;
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
    white-space: wrap;
    z-index: 11;
    text-align:center;
  }
  
  
  #btn{
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 3rem;
    border-radius: 99rem;
    background: #fff;
    color: #355ee7;
    font-family: 'Poppins';
    font-size: 1.6em;
    z-index: 11;
    transform: translateY(10rem);
  }
  
  .desc{
    padding: 0 1rem;
    position: relative;
  }
  
  .desc h2{
    margin-bottom: -1rem;
    text-align: center;
    font-size: 3.5em;
    color: #fff;
  }
  
  .desc p{
    font-size: 1.2em;
    color: #fff;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30rem;
    width: 100%;
  }
  
  .card {
    border: none;
    background-image: url(../../../assets/Home/Card.png);
    background-size: cover;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24rem;
    width: 16rem;
    border-radius: 1rem;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -3rem;
  }
  
  .card:hover {
    transform: translateY(-2rem);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 5rem;
    transition: 0.4s ease-out;
  }

  .geracao{
    color: #000;
    text-align: center;
    font-size: 2rem;
    font-family: 'CoolCrayon';
  }

  .pokemons{
    padding: 0 1rem;

    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    
    position: relative;
    width: 100%;
  }

  .pokeCard{
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    margin: 1rem;

    border: solid 0.5rem #000;
    color: #fff;
    height: 24rem;
    width: 16rem;
    border-radius: 1rem;
    position: relative;
    left: 0px;
    font-weight: 100;
  }

  .pokemon .pokeCard .top{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6rem; 
    width: 100%;
    font-weight: 500;
  }

  .pokemon .pokeCard .middle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12rem;
  }

  .pokemon .pokeCard .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100%;
  }

  .pokemon .pokeCard .middle img{
    width: 30rem;
  }