@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
  
    font-family: 'Poppins', sans-serif;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    scroll-behavior: smooth;
}

:root{
    font-size: 62.5%;
  }
