  @font-face {
    font-family: 'Chalk';
    src: url(../assets/Fonts/Chalk/Chalktastic-x1nR.ttf);
  }

  @font-face {
    font-family: 'Poppins';
    src: url(../assets/Fonts/Poppins/Poppins-Medium.ttf);
  }
