  @font-face {
    font-family: 'CoolCrayon';
    src: url(../assets/Fonts/CoolCrayon/DkCoolCrayon-xJyV.ttf);
  }

  @font-face {
    font-family: 'Poppins';
    src: url(../assets/Fonts/Poppins/Poppins-Medium.ttf);
  }